extends layout.pug 


block content
  if errorMessage 
    span=errorMessage 
  form(method="POST")
    input(name="email",placeholder="이메일",type="email",requried)
    input(name="password",placeholder="비밀번호",type="password",required)
    input(type="submit",value="로그인")
  